body{
    background-image: url('../Assets/Image/fondo_body.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    margin: 0;
}

#subtitulo{
    font-size: 40px;
    color: #fff;
    font-family: sans-serif bold;
    margin-left: 142px;
    margin-top: 25px;
}

#loginform{
    display: flex;
    flex-direction: column;
    background-color: rgba(39, 39, 39, 0.5);
    backdrop-filter: blur(3px);
    width: 500px;
    height: 400px;
    margin-left: 510px;
    margin-top: 100px;
    border-radius: 25px;
    border: rgb(69, 69, 70) 1px solid;
}

#txt_username{
    margin-left: 50px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background: transparent;
    color: #fff;
    border: rgb(0, 153, 255) 1px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 153, 255);
}
#txt_username::placeholder{
    color: #c8c5c5;
    padding: 15px;
}

#txt_password{
    margin-top: 20px;
    margin-left: 50px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background: transparent;
    color: #fff;
    border: rgb(0, 153, 255) 1px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 153, 255);
}

#txt_password::placeholder{
    color: #c8c5c5;
    padding: 15px;
}

#a_password{
    margin-left: 50px;
    margin-top: 5px;
    font-size: 15px;
    color: #2577f3;
    font-family: sans-serif;
}

#btn_login{
    margin-top: 50px;
    margin-left: 160px;
    width: 180px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background:linear-gradient(10deg, #0523ca, #f1f0ef);
    color: #fff;
}

#frm_register{
    margin-left: 170px;
    margin-top: 15px;
    font-size: 15px;
    color: #2577f3;
    font-family: sans-serif;
}
