body{
    background-image: url('../Assets/Image/fondo_body.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subtitulo{
    font-size: 20px;
    color: #fff;
    font-family: sans-serif bold;
    margin-left: 150px;
    margin-top: 25px;
}

.loginform{
    display: flex;
    flex-direction: column;
    background-color: rgba(60, 58, 58, 0.3);
    backdrop-filter: blur(3px);
    width: 400px;
    height: 350px;
    margin-left: 400px;
    margin-top: 70px;
    border-radius: 25px;
    border: #007 1px solid;
}

.txt_username{
    margin-top: 30px;
    margin-left: 50px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background: transparent;
    color: #fff;
    border: rgb(37, 37, 228) 1px solid;
}
.txt_username::placeholder{
    color: #c8c5c5;
    opacity: 1000px;
}

.txt_password{
    margin-top: 30px;
    margin-left: 50px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background: #007;
    color: #fff;
}
.a_password{
    margin-left: 50px;
    margin-top: 5px;
    font-size: 12px;
    color: #2577f3;
    font-family: sans-serif;
}

.btn_login{
    margin-top: 100px;
    margin-left: 50px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background: #007;
    color: #fff;
}